<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <script src="/static/js/modernizr.js"></script>
    <style>
    body {
        padding: 40px;
    }
    input.search {
        font-size: 1em;
        padding: 0.3em;
        margin-bottom: 1em;
    }
    </style>
</head>

<body>

    <div class="row">
        <div class="large-12 columns">
            <h1>
                {% if logs %} Welcome to {{title}} {% else %} {{title}} - {{logname}} {% endif %}
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <div class="panel">

                {% if logs %}
                <h3>Logs</h3>



                <ul>
                    {% for log in logs %}
                    <li><a href="{{ log }}/100">{{log|lower}}</a>
                    </li>
                    {% endfor %} {% endif %}
                </ul>

                {% if logdata %}
                <div id="logs">
                    <input class="search" placeholder="Search" />

                    <ul class="list">
                        {% for logline in logdata %}

                        <li>
                            <p class="entry">{{logline}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    <p>Lines received: {{logdata|count}}</p>
                    <div>
                        <a href="/{{logname}}/500" class="button radius">Show last 500 lines</a>
                        <a href="/{{logname}}/1000" class="button radius">Show last 1000 lines</a>
                        <a href="/{{logname}}/0" class="button alert radius">Show all lines.</a>
                        <a href="/" class="button success radius">Go Back</a>
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script src="/static/js/list.min.js"></script>
    <script>
    $(document).foundation();
    var options = {
        valueNames: ['entry']
    };

    var userList = new List('logs', options);
    </script>
</body>

</html>
